<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PortalLsm" connectionString="metadata=res://*/EF.PortalLsm.csdl|res://*/EF.PortalLsm.ssdl|res://*/EF.PortalLsm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P70F4JV\MSSQLSERVER_HP;initial catalog=Portal.Lsm;persist security info=True;user id=scm_user;password=support2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PortalAuth" connectionString="metadata=res://*/EF.PortalAuth.csdl|res://*/EF.PortalAuth.ssdl|res://*/EF.PortalAuth.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P70F4JV\MSSQLSERVER_HP;initial catalog=Portal.Auth;persist security info=True;user id=scm_user;password=support2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.28.0" newVersion="6.0.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>