@using DoE.Lsm.Web.Api

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

            <div class="navbar nav_title" style="border: 0;">                
                <a href="@Url.Action("Index","Home")" class="site_title"><i class="fa fa-book"></i> &nbsp; <span>Quota  <sup class="text-danger"> <small> &nbsp; @ApplicationAssemblyInfo.Environment </small> </sup></span></a>
            </div>

            <div class="clearfix"></div>
            <br/>
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

             @Html.Raw(User.Identity.BuildBreadCrumb());

            </div> <!-- sidebar menu -->                        

             <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </a>
                <a  data-placement="top" title="Logout" class="btn-sm pull-left" data-toggle="modal" data-target="#disclaimer-dialog">
                        <span class="glyphicon glyphicon-info-sign text-dark" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->

            </div>
        </div>


<!-- Disclaimer information modal -->
<div class="modal fade" id="disclaimer-dialog" tabindex="-1" role="dialog" aria-labelledby="disclaimer-dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
                <button type="button" class="btn btn-success btn-sm pull-right" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <h2>WEBSITE TERMS AND CONDITIONS &nbsp; <br /> <small>MRL-TAC-IT-001 (v2.00)</small></h2>
                <br />
                <div class="mb-5">
                    <section>
                        <h2>Introduction and Acceptance</h2>
                        <div>
                            <p class="md-2">These terms and conditions govern your use of this website by using this website, you accept these terms and conditions in full.</p>
                        </div>
                    </section>
                    <section>
                        <p class="mb-2">
                            Unless otherwise stated.The Company and/or its licensors own the intellectual property rights in the website and material on the website.
                            Subject to the license below, all these intellectual property rights are reserved.
                        </p>
                        <p class="mb-2">
                            You may view, download for caching purposes only, and print pages from the website for your own intellectual property rights in the website and material on the website.Subject to the license below, all these intellectial property rights are reserved.
                        </p>
                        <div class="mb-2">
                            <p>You must not:</p>
                            <ul>
                                <li>republish material from this website( including republication on another website)</li>
                                <li>sell, rent or sub-license material from the website</li>
                                <li>reproduce, duplicate, copy or otherwise exploit material on this website for commercial purpose</li>
                                <li>edit or otherwise modify any material on the website , or</li>
                                <li>redistribute material from this website except for content specifically and expressly made available for redistribution by the Company. </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>